<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Menú</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Inicio</a></li>
		<li>
			<a href="#">Nosotros</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
					<h4>{{ site.owner.name }}</h4>
					<p>{{ site.owner.bio }}</p>
				</li>
				<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">+ Info</span></a></li>
				{% if site.owner.email %}<li>
					<a href="mailto:{{ site.owner.email }}"><i class="fa fa-fw fa-envelope"></i> Email</a>
				</li>{% endif %}
				{% if site.owner.telegram %}<li>
					<a href="https://t.me/{{ site.owner.telegram }}"><i class="fa fa-fw fa-telegram"></i> Telegram</a>
				</li>{% endif %}
				{% if site.owner.twitter %}<li>
					<a href="https://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
				</li>{% endif %}
				{% if site.owner.mastodon %}<li>
					<a href="https://mastodon.technology/@{{ site.owner.mastodon }}">&nbsp<img src="{{ "/images/mastodon.png" }}" width="13"> &nbspMastodon</a>
				</li>{% endif %}
				{% if site.owner.github %}<li>
					<a href="https://github.com/{{ site.owner.github }}"><i class="fa fa-fw fa-github"></i> GitHub</a>
				</li>{% endif %}
				{% if site.owner.vimeo %}<li>
					<a href="https://vimeo.com/{{ site.owner.vimeo }}"><i class="fa fa-fw fa-vimeo"></i> Vimeo</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#">Entradas</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">Posts</a></li>
				<li><a href="{{ site.url }}/tags/">Tags</a></li>
			</ul>
		</li>
		{% for link in site.data.navigation %}
	    {% if link.url contains 'http' %}
	        {% assign domain = '' %}
	        {% else %}
	        {% assign domain = site.url %}
	    {% endif %}
	    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{% if link.title == 'RSS' %} <i class="fa fa fa-rss"></i> {% endif %} {{ link.title }}</a></li>
	  {% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
