<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=es" type="text/javascript"></script>

 <script type="text/x-mathjax-config">
   MathJax.Hub.Config({
   showProcessingMessages: false,
   tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true},
   "fast-preview": {disabled: true},
   CommonHTML: { linebreaks: { automatic: true } },
   "HTML-CSS": { linebreaks: { automatic: true } },
   SVG: { linebreaks: { automatic: true } }
   });
 </script>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es">
<![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
  <html class="no-js lt-ie9 lt-ie8" lang="es">
<![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
  <html class="no-js lt-ie9" lang="es">
<![endif]-->
<!--[if gt IE 8]>
  <!--> <html class="no-js" lang="es">
<!--<![endif]-->

<head>
{% include head %}
</head>

<body id="post-index"
  {% if page.image.feature %}
    class="feature"
  {% endif %}
>

{% include browser-upgrade %}
{% include navigation %}

<div class="entry-header">
  {% if page.image.credit %}
    <div class="image-credit">
      Fuente:
      <a href="{{ page.image.creditlink }}">
        {{ page.image.credit }}
      </a>
    </div><!-- /.image-credit -->
  {% endif %}

  {% if page.image.feature %}
    <div class="entry-image">
      <img src="{{ site.url }}/assets/images/{{ page.image.feature }}" alt="{{ page.title }}">
    </div><!-- /.entry-image -->
  {% endif %}

  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ site.title }}</h1>
      <h2>#SomosRuido / #WeAreNoise / #私たちは騒音です</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts %}

</body>
</html>
